body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
#yesbutton {
    background-color: white; 
    color: black;
    position:relative;
    transition: .5s ease;
    top: 191px;
    left: 420px;
    right: -420px;
    bottom: -191px;
    border: 2px solid #4CAF50;
}
#nobutton {
    background-color: white; 
    color:black;
    position:relative;
    transition: .5s ease;
    top: 191px;
    left: 420px;
    right: -460px;
    bottom: -191px;
    border: 2px solid #4CAF50;
}
    
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.yesbutton:hover {
    background-color: #4CAF50;
    color: white;
}

.nobutton:hover {
    background-color: #4CAF50;
    color: white;
}
